{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="row row-cols-auto" style="margin-top: 33px;margin-bottom: 8px;">
                    <div class="col">
                        <form method="get">
                            <div class="row">
                                <div class="input-group">
                                    {{ filter.form.dts }}
                                    {{ filter.form.enterprise }}
                                    <button class="btn btn-outline-secondary" type="submit"><i
                                            class="bi bi-filter-square"></i>
                                        Отбор
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header"><i class="bi bi-table"></i> Клининг</div>
                    <div class="card-body">

                        <div class="table-responsive">
                            <table id="datatable" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Дата</th>
                                    <th>Магазина</th>
                                    <th>Контрагент</th>
                                    <th>График</th>
                                    <th>План часы</th>
                                    <th>Факт часы</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in init %}
                                    <tr class='clickable-row-cleaning'
                                        data-href="{{ item.guid }}" >
                                        <td>{{ item.dts }}</td>
                                        <td>{{ item.enterprise }}</td>
                                        <td>{{ item.contractor }}</td>
                                        <td>{{ item.sheduler }}</td>
                                        <td>{{ item.plan_hours }}</td>
                                        <td id="{{ item.guid }}">{{ item.hours_f }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% include 'pagination.html' %}
                    </div>
                </div>
            </div>

            <!--MODAL-->
            <div class="modal bd-example-modal-lg" data-bs-backdrop="static" id="ModalWindow" tabindex="-1"
                 role="dialog"
                 aria-labelledby="ModalWindowLg"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                    </div>
                </div>
            </div>
        </main>
    </div>

{% endblock %}
{% block script %}
    <script>
        (function ($) {
            $('.clickable-row-cleaning').css('cursor', 'pointer');
            $(".clickable-row-cleaning").click(function () {
                let guid = $(this).data("href");
                let _url = "{% url 'cleaning:cleaning_edit_create' %}";
                $("#ModalWindow").modal("show");
                $.ajax({
                    url: _url,
                    type: 'get',
                    data: {'guid': guid},
                    success: function (data) {
                        $("#ModalWindow .modal-content").html(data);
                    }
                })
            });
        })(jQuery);
    </script>
{% endblock %}
