{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block css %}
    <link rel="stylesheet" type="text/css" media="screen"
          href="{% static 'dist/css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row row-cols-auto" style="margin-top: 33px;margin-bottom: 8px;">
            <div class="col">
                <input class="btn p-2 btn-flat btn-success" type="submit" value="&nbsp;+&nbsp;" id="new_record">
            </div>
            <div class="col">
                <form method="get">
                    <div class="row">
                        <div class="input-group">
                            {{ filter.form.contractor }}
                            {{ filter.form.enterprise }}
                            <button class="btn btn-outline-secondary" type="submit">Отбор</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header"><i class="bi bi-table"></i> План выхода контрагентов</div>
            <div class="card-body">
                <table id="datatable" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Дата</th>
                        <th scope="col">Контрагент</th>
                        <th scope="col">Подразделение</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Пол</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in object_list %}
                        <tr class="clickable-row_np" data-href="#">
                            <td>{{ item.dts }}</td>
                            <td>{{ item.contractor.name }}</td>
                            <td>{{ item.enterprise.name }}</td>
                            <td>{{ item.amount }}</td>
                            <td>{{ item.gender }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include 'pagination.html' %}

    <div class="modal fade bd-example-modal-lg" data-bs-backdrop="static" data-bs-keyboard="false" id="ModalWindow"
         tabindex="-1" role="dialog"
         aria-labelledby="ModalWindowLg"
         aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Добавить запись</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block script %}
    <script>
        document.getElementById('new_record').addEventListener('click', function (e) {
                let _url = "{% url 'outsourcing:outsourcing_planning_staff_add' %}";
                $("#ModalWindow").modal("show");
                $.ajax({
                    url: _url,
                    type: 'get',
                    success: function (data) {
                        $("#ModalWindow .modal-body").html(data);
                    }
                })
            }
        );
    </script>
    <script src="{% static '/dist/js/jquery.tables_tm.js' %}"></script>
    <script src="{% static '/dist/js/bootstrap-datetimepicker.min.js' %}"></script>
{% endblock %}