{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <table id="datatable" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">График</th>
            <th scope="col">Дата</th>
            <th scope="col">Время начала</th>
            <th scope="col">Время окончания</th>
            <th scope="col">Часы</th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
            <tr class="clickable-row_np" data-href="#">
                <td>{{ item.outsourcing_timeline.name }}</td>
                <td>{{ item.dts }}</td>
                <td>{{ item.f_time }}</td>
                <td>{{ item.t_time }}</td>
                <td>{{ item.hours }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'pagination.html' %}
{% endblock %}

{% block script %}
    <script src="{% static '/dist/js/jquery.tables_tm.js' %}"></script>
{% endblock %}