{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <div class="container-fluid">
        <div class="card mb-4">
            <div class="card-header"><i class="bi bi-table"></i> Графики контрагентов</div>
            <div class="card-body">
                <table id="datatable" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Дата</th>
                        <th scope="col">Контрагент</th>
                        <th scope="col">График</th>
                        <th scope="col">Подразделение</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in object_list %}
                        <tr class="clickable-row_np" data-href="#">
                            <td>{{ item.dts }}</td>
                            <td>{{ item.outsourcing_contractor.name }}</td>
                            <td>{{ item.outsourcing_timeline.name }}</td>
                            <td>{{ item.enterprise.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include 'pagination.html' %}
{% endblock %}
{% block script %}
    <script src="{% static '/dist/js/jquery.tables_tm.js' %}"></script>
{% endblock %}