{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <table id="datatable" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Дата</th>
            <th scope="col">Контрагент</th>
            <th scope="col">Подразделение</th>
            <th scope="col">Цена</th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
            <tr class="clickable-row_np" data-href="#">
                <td>{{ item.dts }}</td>
                <td>{{ item.contractor.name }}</td>
                <td>{{ item.enterprise.name }}</td>
                <td>{{ item.price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'pagination.html' %}
{% endblock %}

{% block script %}
    <script src="{% static '/dist/js/jquery.tables_tm.js' %}"></script>
{% endblock %}