{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="card mb-4">
            <div class="card-header"><i class="bi bi-table"></i> Список подразделений</div>
            <div class="card-body">
            {% if object_list.count > 0 %}
                <table id="datatable" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Код подразделения</th>
                        <th scope="col">Подразделение</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in object_list %}
                        <tr class="clickable-row_np" data-href="{% url 'extworkers:shopdata' item.guid dts %}">
                            <th>{{ item.enterprise_code }}</th>
                            <td>{{ item.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include 'pagination.html' %}
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static '/dist/js/jquery.tables_tm.js' %}"></script>
{% endblock %}
