{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
    {% now "H" as current_hour %}
    <div class="card-body">
        {% if staff %}
            <div class="d-inline p-2 bg-black bg-opacity-75 text-white"><a class="text-decoration-none text-white"
                                                                           href="{% url 'extworkers:fill_data' %}"><i
                    class="fas fa-arrow-up"></i> Подразделение: {{ enterprise }}</a></div>
            <div class="d-inline p-2 bg-black bg-opacity-75 text-white"> Даты:&nbsp;
                {% for dts_c in dts_arr %}
                    <div class="d-inline p-2 bg-opacity-50 text-white {% if dts_c == dts %} bg-primary {% else %} bg-black {% endif %} ">
                        <a class="text-decoration-none text-white"
                           href="{% url 'extworkers:fill_data_shop' enterprise.guid dts_c %}">{{ dts_c }}</a></div>
                {% endfor %}
            </div>
        {% else %}
            <div class="d-inline p-2 bg-black bg-opacity-75 text-white">Подразделение: {{ enterprise }}</div>
            <div class="d-inline p-2 bg-black bg-opacity-75 text-white">Дата: {{ dts }}</div>
        {% endif %}
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-table mr-1"></i> Список сотрудников</div>
                    <div class="card-body">
                        {% if object_list %}
                            <div class="table-responsive">
                                <table id="datatable" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Дата</th>
                                        <th>Номер магазина</th>
                                        <th>Адрес магазина</th>
                                        <th>Сотрудник ПРР</th>
                                        <th>Время начала работы</th>
                                        <th>Время завершения работы</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in object_list %}
                                        <tr class='clickable-row'
                                            data-href="{% url 'extworkers:person_edit' item.enterprise.guid dts item.guid %}">
                                            <td>{{ item.dts }}</td>
                                            <td>{{ item.enterprise.enterprise_code }}</td>
                                            <td>{{ item.enterprise.name }}</td>
                                            <td>{{ item.person_name }}</td>
                                            <td>{{ item.f_time }}</td>
                                            <td>{{ item.t_time }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% include 'pagination.html' %}
                        {% else %}
                            {% if staff %}
                                <div class="card-footer">Список пуст. Добавьте сотрудника.</div>
                            {% else %}
                                <div class="card-footer">{% if current_hour|to_int < max_hour %} Список пуст. Добавьте
                                    сотрудника. {% else %} Внимание! Добавлять записи можно только до {{ max_hour }}ч
                                    дня. {% endif %} </div>
                            {% endif %}
                        {% endif %}
                        {% if staff %}
                            <div class="card-footer"><a href="{% url 'extworkers:person_add' enterprise.guid dts %}">
                                <button class="btn btn-success"> Добавить сотрудника ПРР.</button>
                            </a>
                            </div>
                        {% elif current_hour|to_int < max_hour %}
                            <div class="card-footer"><a href="{% url 'extworkers:person_add' enterprise.guid dts %}">
                                <button class="btn btn-success"> Добавить сотрудника ПРР.</button>
                            </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if history_data %}
                    <div class="card mb-4">
                        <div class="card-header"><i class="fas fa-table mr-1"></i> История изменений</div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="datatable" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Дата/время</th>
                                        <th>Вид изменения</th>
                                        <th>Автор</th>
                                        <th>Сотрудник ПРР</th>
                                        <th>Время начала работы</th>
                                        <th>Время завершения работы</th>
                                        <th>Адрес регистрации</th>
                                        <th>Дата рождения</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in history_data %}
                                        <tr>
                                            <td>{{ item.change_time }}</td>
                                            <td>{{ item.action }}</td>
                                            <td>{{ item.author }}</td>
                                            <td>{{ item.person_name }}</td>
                                            <td>{{ item.f_time }}</td>
                                            <td>{{ item.t_time }}</td>
                                            <td>{{ item.p_city }}</td>
                                            <td>{{ item.p_birthday }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
        </main>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'dist/js/jquery.tables_tm.js' %}"></script>
{% endblock %}