{% extends 'extworkers/base.html' %}
{% load static %}

{% block content %}
    {% if object_list.count > 0 %}
        <table id="datatable" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">Код подразделения</th>
                <th scope="col">Подразделение</th>
            </tr>
            </thead>
            <tbody>
            {% for item in object_list %}
                <tr class="clickable-row" data-href="{% url 'fill_data_shop' item.guid %}">
                    <th>{{ item.enterprise_code }}</th>
                    <td>{{ item.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'extworkers/pagination.html' %}
    {% endif %}
{% endblock %}
{% block script %}
    <script src="{% static 'dist/js/jquery.tables_tm.js' %}"></script>
{% endblock %}