{% if object_list %}
    {% if is_paginated %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item {% if page_obj.has_previous %}  {% else %} disabled  {% endif %}">
                    <a class="page-link" {% if page_obj.has_previous %}
                       href="{{ request.path }}?page={{ page_obj.previous_page_number }}" {% else %}
                       href="#" {% endif %}  aria-label="Previous">Назад</a>
                    </a>
                </li>
                {% for item in page_obj.paginator %}
                    <li class="page-item {% if page_obj.number == item.number %} active {% endif %} "><a
                            class="page-link"
                            href="{{ request.path }}?page={{ item.number }}">{{ item.number }}</a>
                    </li>
                {% endfor %}
                <li class="page-item {% if page_obj.has_next %} {% else %} disabled {% endif %}">
                    <a class="page-link "
                            {% if page_obj.has_next %}
                       href="{{ request.path }}?page={{ page_obj.next_page_number }}" {% else %}
                       href="#" {% endif %} aria-label="Next">Далее</a>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
{% endif %}