{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Учет ПРР"/>
    <meta name="author" content="Коваленко А.В."/>
    <title>{{ title|title }}</title>
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/DataTables/datatables.min.css' %}"/>
    {% block css %}
    {% endblock %}
</head>
<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-journals"></i> Тип табеля
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if user.is_staff %}
                            <li><a class="dropdown-item" href="{% url 'extworkers:fill_data' %}"><i
                                    class="bi bi-truck"></i> ПРР</a></li>
                        {% else %}
                            <li><a class="dropdown-item"
                                   href="{% url 'extworkers:fill_data_shop' enterprise.guid dts %}"><i
                                    class="bi bi-truck"></i> ПРР</a></li>
                        {% endif %}
                        <li><a class="dropdown-item disabled" href="#"><i class="bi bi-tsunami"></i> Клининг (в процессе
                            разработки)</a></li>
                        <li><a class="dropdown-item disabled" href="#"><i class="bi bi-shield-lock-fill"></i> ЧОП (в
                            процессе разработки)</a></li>
                    </ul>
                </li>
                {% if user.is_staff %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-building"></i> Контрагенты
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'outsourcing:outsourcing_types' %}"><i
                                    class="bi bi-list-ul"></i> Виды
                                контрагентов</a></li>
                            <li><a class="dropdown-item" href="{% url 'outsourcing:outsourcing_contractors' %}"><i
                                    class="bi bi-list-ul"></i> Соответствие
                                контрагентов</a></li>
                            <li><a class="dropdown-item" href="{% url 'outsourcing:outsourcing_timeline' %}"><i
                                    class="bi bi-list-ul"></i> Графики
                                контрагентов</a></li>
                            <li><a class="dropdown-item" href="{% url 'outsourcing:outsourcing_datap' %}"><i
                                    class="bi bi-list-ul"></i> Распределение
                                контрагентов</a></li>
                            <li><a class="dropdown-item" href="{% url 'outsourcing:outsourcing_prices' %}"><i
                                    class="bi bi-list-ul"></i> Цены
                                контрагентов</a></li>
                            <li><a class="dropdown-item" href="{% url 'outsourcing:outsourcing_planning_staff' %}"><i
                                    class="bi bi-list-ul"></i> Планирование
                                работы контрагентов</a></li>
                        </ul>
                    </li>
                {% endif %}
                <li class="nav-item active">
                    {% if user.is_active %}
                        <a class="nav-link" href="{% url 'users:logout' %}"><i class="bi bi-person"></i>
                            Пользователь: {{ user.username }}<span
                                    class="sr-only">(current)</span> <i class="fas fa-sign-out-alt"></i></a>
                    {% else %}
                        <a class="nav-link" href="{% url 'users:login' %}"><i class="bi bi-person"></i> Войти<span
                                class="sr-only">(current)</span> <i class="fas fa-cog fa-fw"></i></a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}

{% endblock %}
<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">&copy; Тамерлан 2021-2022</div>
            <div id="js_validate" hour="{{ max_hour }}" staff="{{ user.is_staff }}" max_hours="{{ max_hours }}"></div>
        </div>
    </div>
</footer>
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/Datatables/datatables.js' %}"></script>
<script src="{% static 'plugins/Datatables/datatables.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% block script %}
{% endblock %}
</body>
</html>